html {
    scroll-behavior: smooth;
}

.img1 {
    width: 100%;
    /* height:600px ; */
    background-size: cover;
    margin-top: -110px;
}
h2 .icon{
    border:2px solid black ;
}

.bg {
    background-image: url('img/Category_LED-lights.jpg');
    height: 850px;
    background-size: cover;
    margin-top: -110px;
}

.box {
    /*border: 2px solid black;*/
    text-align: end;
    margin: 450px 300px 0px 0px;
    font-size: 50px;
    color: #fff;
}

.btn {
    margin: -350px;
    width: 120px;
    height: 40px;
   color: #fff;
    background-color: transparent;
     border: 2px solid white; 
    transition: .5s;

}.btn:hover {
    color:rgb(0, 0, 0);
    background-color: #fff;
}

.btn a:hover{
    color: #111;
    transition: 0.8s;
}
.btn a{
    text-decoration: none;
    color: white;
}
.nav {
    /*border: 2px solid black;*/
    display: inline-block;
    margin: 130px 0px 0px 900px;
    text-align: end;

}

.navigation a {
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: .5s;
}
.navigation a:hover{
    color: rosybrown;
}

.login {
    height: 30px;
    width: 100px;
    background-color: transparent;
    color: white;
    /* border: 2px solid #fff; */
    transition: 0.5s;
}

.login:hover a{
    color: black;
}

.login:hover {
    height: 30px;
    width: 100px;
    background-color: #fff;
    color: rgb(0, 0, 0);
    /* border: 2px solid #fff; */
    transition: 0.5s;
}

.led {
    width: 80%;
    height: 900px;
    /* border: 2px solid black; */
    margin-top: 10px;
    margin-left: 140px;
    justify-content: center;
    background-color: bisque;
}

.light {
    height: 250px;
    width: 250px;
    /* border: 2px solid black; */
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img2 {
    height: 200px;
    width: 200px;
    background-size: cover;
}

.box-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

#footer {
    height: 300px;
    margin: 200px 0px 0px 0px;
    display: flex;
    justify-content: center;
    background-color: rgb(56, 56, 56);
    color: white;
}

li {
    list-style: none;
    padding: 3px;
}


.f {
    height: 200px;
    width: 300px;

}


.socialicon{
    display: flex;
    justify-content: center;
  }
  .socialicon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .socialicon a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
  }
  .socialicon a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .socialicon a:hover i{
    color: white;
    transition: 0.5s;
  }
#new{
    height: 300px;
    border: 2px solid black;

    ;
}